@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-image: url(images/background2.jpg);
  background-size: cover;
}
