@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-image: url(images/bg4.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-size: cover;
}

.music-container {
  background-color: white;
  opacity: 0.9;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgb(239,205,81);
  display: flex;
  padding: 20px 30px;
  margin: 100px 0;
  z-index: 10;

}

.img-container {
  postion: relative;
  width: 110px;
}

.img-container::after {
  content: '';
background-color: #fff;
border-radius: 50%;
position: absolute;
bottom: 100%;
left: 50%;
width: 20px;
height: 20px;
transform: translate(-50%, 50%);

}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}
